@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-feature-settings: "rlig" 1, "calt" 1;
}

/* Custom Selection Style */
::selection {
  background: #e5e5e5;
  color: #0a0a0a;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}